$color-primary: #FF8B37;
$color-primary-dark: #E6761F;
$color-primary-light: #FFAC70;
$color-primary-lighter: #FFF3EB;

$color-success: #47D867;
$color-success-light: #E6FAEA;

$color-error: #EC6259;
$color-error-light: #FDEEED;

$color-gray-dark: #1C1C21;
$color-gray: #D0D0D8;
$color-gray-light: #F5F5F7;
$color-white: #FFFFFF;

 