@use "@/styles" as *;

.startScreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-min($breakpoint-tablet) {
    gap: 64px;
  }

  &__title {
    @include heading-size;
    text-align: center;

    @include respond-min($breakpoint-tablet) {
      text-align: left;
    }
  }
}
